<tr>
  <td><%= link_to tweet.user_screen_name, "//twitter.com/#{tweet.user_screen_name}", target: '_blank' %></td>
  <td><%= tweet.user_followers_count %></td>
  <td><%= tweet.text %></td>
  <td><%= tweet.retweet_count %></td>
  <td><%= tweet.favourites_count %></td>
  <td><%= link_to human_date(tweet.tweeted_at), "//twitter.com/#{tweet.user_screen_name}", target: '_blank' %></td>
</tr>
